[submodule "frontend"]
	path = frontend
	url = https://github.com/ana-aranha/SocialNetwork-linkr-front.git
[submodule "backend"]
	path = backend
	url = https://github.com/ana-aranha/SocialNetwork-linkr-back
